function Game.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 32
push constant 16
call ConwayGrid.newRectangle 2
pop this 0
push pointer 0
return
function Game.init 2
push argument 0
pop pointer 0
push constant 0
push constant 0
push this 0
call Selector.new 3
pop local 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
call Selector.display 1
pop temp 0
push constant 120
call Game.waitForInput 1
pop local 1
push local 0
push local 1
call Selector.handleKey 2
pop temp 0
push local 1
push constant 128
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Selector.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.run 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 2000
lt
not
if-goto WHILE_END0
push this 0
call ConwayGrid.step 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.waitForInput 1
push constant 0
pop local 0
label WHILE_EXP0
push argument 0
push constant 0
gt
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call Sys.wait 1
pop temp 0
push local 0
return
goto IF_END0
label IF_FALSE0
push constant 10
call Sys.wait 1
pop temp 0
push argument 0
push constant 10
sub
pop argument 0
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call ConwayGrid.dispose 1
pop temp 0
push constant 0
return
