function Screen.init 0
push constant 16384
pop static 0
push constant 24575
pop static 1
push constant 0
not
pop static 2
push constant 0
return
function Screen.clearScreen 1
push static 0
pop local 0
label WHILE_EXP0
push local 0
push static 1
lt
not
if-goto WHILE_END0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 2
push constant 0
return
function Screen.drawPixel 3
push argument 0
push constant 16
call Math.divide 2
pop local 2
push static 0
push argument 1
push constant 32
call Math.multiply 2
add
push local 2
add
pop local 0
push local 0
call Memory.peek 1
pop local 1
push local 1
push argument 0
push local 2
push constant 16
call Math.multiply 2
sub
push static 2
call Math.setBit 3
pop local 1
push local 0
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 7
push argument 0
push argument 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 3
call Math.min 2
pop local 0
push argument 1
push argument 3
call Math.max 2
push constant 1
add
pop local 1
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push argument 0
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
push local 0
call Screen.drawPixel 2
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 1
push argument 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push argument 2
call Math.min 2
pop local 0
push argument 0
push argument 2
call Math.max 2
pop local 1
push local 0
push local 1
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
push constant 0
return
label IF_FALSE1
push constant 0
pop local 0
push constant 0
pop local 1
push argument 1
push argument 3
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 0
pop local 2
push argument 1
pop local 3
push argument 2
push argument 0
sub
pop local 4
push argument 3
push argument 1
sub
pop local 5
goto IF_END2
label IF_FALSE2
push argument 2
pop local 2
push argument 3
pop local 3
push argument 0
push argument 2
sub
pop local 4
push argument 1
push argument 3
sub
pop local 5
label IF_END2
push constant 0
pop local 6
push local 4
push constant 0
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
label WHILE_EXP1
push local 0
push local 4
lt
push local 1
push local 5
lt
and
not
if-goto WHILE_END1
push local 2
push local 0
add
push local 3
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 6
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 1
add
pop local 0
push local 6
push local 5
add
pop local 6
goto IF_END4
label IF_FALSE4
push local 1
push constant 1
add
pop local 1
push local 6
push local 4
sub
pop local 6
label IF_END4
goto WHILE_EXP1
label WHILE_END1
goto IF_END3
label IF_FALSE3
push local 4
neg
pop local 4
label WHILE_EXP2
push local 0
push local 4
lt
push local 1
push local 5
lt
and
not
if-goto WHILE_END2
push local 2
push local 0
sub
push local 3
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 6
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push constant 1
add
pop local 0
push local 6
push local 5
add
pop local 6
goto IF_END5
label IF_FALSE5
push local 1
push constant 1
add
pop local 1
push local 6
push local 4
sub
pop local 6
label IF_END5
goto WHILE_EXP2
label WHILE_END2
label IF_END3
push constant 0
return
function Screen.drawShortHorizontalLine 5
push argument 0
push constant 16
call Math.divide 2
pop local 0
push argument 1
push constant 16
call Math.divide 2
pop local 1
push local 0
push local 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push argument 2
push constant 32
call Math.multiply 2
add
push local 0
add
pop local 3
push local 3
call Memory.peek 1
pop local 2
push argument 0
push local 0
push constant 16
call Math.multiply 2
sub
pop local 0
push argument 1
push local 1
push constant 16
call Math.multiply 2
sub
push constant 1
add
pop local 1
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 2
push local 0
push static 2
call Math.setBit 3
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 3
push local 2
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 4
call String.new 1
push constant 89
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 0
push argument 2
push constant 32
call Math.multiply 2
add
push local 0
add
pop local 3
push local 3
call Memory.peek 1
pop local 2
push argument 0
push local 0
push constant 16
call Math.multiply 2
sub
pop local 0
push constant 16
pop local 4
label WHILE_EXP1
push local 0
push local 4
lt
not
if-goto WHILE_END1
push local 2
push local 0
push static 2
call Math.setBit 3
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 3
push local 2
call Memory.poke 2
pop temp 0
push static 0
push argument 2
push constant 32
call Math.multiply 2
add
push local 1
add
pop local 3
push local 3
call Memory.peek 1
pop local 2
push constant 0
pop local 4
push argument 1
push local 1
push constant 16
call Math.multiply 2
sub
push constant 1
add
pop local 1
label WHILE_EXP2
push local 4
push local 1
lt
not
if-goto WHILE_END2
push local 2
push local 4
push static 2
call Math.setBit 3
pop local 2
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP2
label WHILE_END2
push local 3
push local 2
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
function Screen.drawHorizontalLine 7
push argument 1
push argument 0
sub
push constant 16
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
push argument 2
call Screen.drawShortHorizontalLine 3
pop temp 0
push constant 0
return
goto IF_END0
label IF_FALSE0
push argument 0
push constant 16
call Math.divide 2
pop local 0
push argument 1
push constant 16
call Math.divide 2
pop local 1
push static 0
push argument 2
push constant 32
call Math.multiply 2
add
pop local 4
push local 4
push local 1
add
pop local 3
push local 4
push local 0
add
pop local 2
push local 2
call Memory.peek 1
pop local 4
push argument 0
push local 0
push constant 16
call Math.multiply 2
sub
pop local 5
push constant 16
pop local 6
label WHILE_EXP0
push local 5
push local 6
lt
not
if-goto WHILE_END0
push local 4
push local 5
push static 2
call Math.setBit 3
pop local 4
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP0
label WHILE_END0
push local 2
push local 4
call Memory.poke 2
pop temp 0
push local 3
call Memory.peek 1
pop local 4
push constant 0
pop local 5
push argument 1
push local 1
push constant 16
call Math.multiply 2
sub
push constant 1
add
pop local 6
label WHILE_EXP1
push local 5
push local 6
lt
not
if-goto WHILE_END1
push local 4
push local 5
push static 2
call Math.setBit 3
pop local 4
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP1
label WHILE_END1
push local 3
push local 4
call Memory.poke 2
pop temp 0
push local 2
push constant 1
add
pop local 2
label WHILE_EXP2
push local 2
push local 3
lt
not
if-goto WHILE_END2
push local 2
push static 2
call Memory.poke 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
label IF_END0
function Screen.drawRectangle 0
push argument 3
push constant 1
add
pop argument 3
label WHILE_EXP0
push argument 1
push argument 3
lt
not
if-goto WHILE_END0
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
push argument 1
push constant 1
add
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawCircle 5
push argument 2
neg
pop local 0
push argument 2
pop local 1
push argument 2
push argument 2
call Math.multiply 2
pop local 4
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push argument 1
push local 0
add
pop local 3
push local 4
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 2
push argument 0
push local 2
sub
push argument 0
push local 2
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
